BasedOnStyle: Google
UseTab: Never
IndentWidth: 2
AccessModifierOffset: -1
AlignConsecutiveAssignments: Consecutive
AlignTrailingComments: true
ColumnLimit: 108
SortIncludes: Never
BreakBeforeBinaryOperators: NonAssignment
IndentPPDirectives: BeforeHash